<div class="cards">
    <p-card header="Uso de API" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
            <i class="pi pi-bolt"></i>
        </ng-template>
        <p>Dollar: </p>
        <p>Bitcoin: </p>
    </p-card>
    <p-card header="Uso de API" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
            <i class="pi pi-bolt"></i>
        </ng-template>
        <p>Dollar: </p>
        <p>Bitcoin: </p>
    </p-card>
    <p-card header="Uso de API" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
            <i class="pi pi-bolt"></i>
        </ng-template>
        <p>Dollar: </p>
        <p>Bitcoin: </p>
    </p-card>
</div>