<div class="painel-topo">
  <h2 class="titulo">Erikson M Batista <a href="#" href="https://github.com/Erikson-Mizael" target="_blank"
      class="destaque"><i class="pi pi-github"></i></a></h2>
  <p class="descricao">Desenvolvedor junior <span class="destaque" (click)="mostrar_modal()">#sobre</span> </p>
</div>

<p-dialog header="Especificações" [(visible)]="display" position="top-right" [transitionOptions]="'100ms'"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3><i class="pi pi-book"></i> Olá</h3>
  </ng-template>
  <hr>
  <br>
  Crio API's com <strong>SpringBoot</strong> para integrações e envios de arquivos. <br>
  Desenvolvo ferramentas online para consultas especificas em banco de dados e no "tempo vago" uso do
  <strong>SQL(Oracle)</strong> para criar relatórios customizado. <br>
  A segurança e controle de usuários de minhas aplicações e endpoints, vem de configurações <strong>OAth2</strong> com
  <strong>Keycloak.</strong> <br>
  Este frontend está sendo desenvolvido em <strong>Angular/CSS/Primefaces</strong> e hospedado na
  <strong>Vercel.</strong> <br>
  <br>
  <hr>
  <br>
  <div class="contatos">
    <p> <i class="pi pi-phone"></i> (27) 9 9889-4816</p>
    <p> <i class="pi pi-envelope"></i> erikskon_mizael@hotmail.com</p>
  </div>
</p-dialog>

<div class="mensagens">
  <p-message severity="warn" text="Pagina em desenvolvimento"></p-message>
  <p-message severity="info" text="Ultima atualização: 26/04/2022"></p-message>
</div>

<div class="opcao-flutuante" (click)="clicado = !clicado"></div>

<router-outlet></router-outlet>